@model List<Restaurant.ViewModel.Restaurants.RestaurantIndexViewModel>


<div class="jumbotron">
    <h2 class="display-4">Lowest rated restaurants</h2>
    <hr />
    <div class="container">
        <div class="row mx-auto ">
            @foreach (var item in Model)
            {
                <div class="card mx-auto my-1" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Location: @item.Location</p>
                        <p class="card-text">Type: @item.Type</p>
                        <p class="card-text">Rating: @item.Rating</p>
                        <img class="img-thumbnail" src="@item.ImageUrl" />
                        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    </div>
                </div>
            }
        </div>
    </div>
</div>